@charset "utf-8";

/*
 * Copyright 2019 Lean Motherfuckers.
 * All rights reserved.
 */

/* ===== Colors ===== */

$body-background-color: #010203;
$body-color: #fff !default;
$text: #fff;
$title-color: #fff;
$strong-color: #fff;
$body-color: #fff;
$grey-dark: #fff;
$link-color: #fff;

$fullhd-enabled: false;
$widescreen-enabled: false;

/* ===== Bulma ===== */

@import '../../node_modules/bulma/bulma.sass';

/* ===== Background ===== */

body {
  background: $body-background-color url('/static/background.svg') no-repeat center;
  background-size: 70% auto;
  background-attachment: fixed;
}

section {
  box-sizing: border-box !important;
  min-height: 56vh;
  display: flex;
  align-items: center;
  padding: 100px 32px !important;

  &:first-child {
    margin-top: 22vh;
  }

  &:last-child {
    margin-bottom: 22vh;
  }

  h3.title {
    font-weight: 600;
    font-size: 48px;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 24px;
  }

  h4.title {
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 12px !important;
  }

  a {
    color: #fff !important;
    font-weight: 700;
    border-bottom: 1px solid #fff;
  }
}

/* ===== Section: we-arent ===== */

.we-arent .title {
  line-height: 1.5;
}

.we-are .title {
  line-height: 1.1;
  font-size: 8em;
}

.brands img {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.program {
  background: transparent no-repeat center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000000 100%);
  background-size: cover;
}

.team {
  background: #000;

  .team-member {
    margin-top: 64px;

    img {
      float: left;
      width: 198px;
    }

    .team-member-inner {
      margin-left: 262px;
    }
  }
}

.contact {
  background: transparent no-repeat center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 60%, #000000 100%);
  background-size: cover;
  text-align: center;
}


@media (max-width: 767px) {
  body {
    background: $body-background-color url('/static/background-mobile.svg') no-repeat 28px 32px;
    background-size: auto 48px;
    background-attachment: scroll;
  }

  section {
    padding-top: 40px;
    padding-bottom: 40px;

    p {
      font-size: 18px;
    }
  }
  .title {
    zoom: 0.7;
  }

  .we-are .title {
    font-size: 7.8em;
  }
  .we-are .title span {
    display: block;
  }

  .brands img {
    max-width: 100%;
  }

  .team .team-member img {
    width: 64px;
  }
  .team .team-member .team-member-inner {
    margin-left: 96px;
  }
}
